.body{
    background-color: rgb(16, 8, 28);
    
}

.navbar {
    background-color: rgb(68, 34, 119);
}

.card-body {
    flex-wrap:wrap;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 0px 20px;
    
}

.dropdown-item {
    --bs-dropdown-link-hover-bg: rgb(68, 34, 119);
}

ul .dropdown-menu  {
    background-color: rgb(122, 68, 202);
}

button.navbar-toggler{
    background-color: rgb(122, 68, 202);
}

#card, #card-vendidos, #card-estreia, #card-avaliados {
    background-color: rgb(16, 8, 28);
}

#imagem {
    border-radius: 5px;
    border: 3px solid rgb(68, 34, 119);
    transition: transform 0.2s;
}

#imagem:hover {
    transform: scale(1.07);
}

#fundo {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#titulo_filme{
    margin-top: 10px;
}

#imagem_filme{
    border-radius: 5px;
    border: 3px solid rgb(68, 34, 119);
    margin: 20px;
}

#textos{
    font-weight: 500;
}

footer{
    height: 30px;
    color: white;
    margin: 20px 0px;
    background-color: rgb(16, 8, 28);
    padding: 20px 0px;
}

#trailer-box{
    margin-top: 10px;
}

#trailer {
    color: rgb(122, 68, 202);
}

@media(max-width: 770px){
    .caixa_filme{
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}
